@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  animation: animate-marquee 10s linear infinite;
}

@keyframes animate-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
